USE [master]
GO
/****** Object:  Database [Unit_Conversion]    Script Date: 2/17/2023 10:06:58 PM ******/
CREATE DATABASE [Unit_Conversion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Unit_Conversion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Unit_Conversion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Unit_Conversion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Unit_Conversion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Unit_Conversion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Unit_Conversion]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 2/17/2023 10:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[ID] [int] NOT NULL,
	[Metric_Name] [varchar](20) NULL,
	[Metric_Formula] [varchar](50) NULL,
	[Imperial_Name] [varchar](20) NULL,
	[Imperial_formula] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
USE [Unit_Conversion]

Insert into Units(ID,Metric_Name,Metric_Formula,Imperial_Name,Imperial_formula)
values(1,'Celcius','(X* 9/5) + 32','Fahrenheit','(X-32) * 5/9');

Insert into   Units(ID,Metric_Name,Metric_Formula,Imperial_Name,Imperial_formula)
values(2,'Kilometre','X * 0.62','Mile','X * 1.6');

Insert into   Units(ID,Metric_Name,Metric_Formula,Imperial_Name,Imperial_formula)
values(3,'Kilogram','X * 2.2','Pound','X * 0.45');

GO